@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    box-sizing: border-box;
    outline: none;
    font-family: "Poppins", sans-serif;
    scroll-behavior: smooth;
}

.Montserrat {
    font-family: "Montserrat", sans-serif;
}

img,
button,
iframe,
a {
    user-select: none;
}

.fadeIn {
    animation: fadeIn 1s;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.myShadow {
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

input:user-invalid {
    border: 1.5px solid rgba(255, 0, 0, 0.416);
}

.homeBanner {
    background: linear-gradient(rgba(0, 0, 0, 0.568), rgba(0, 0, 0, 0.603)), url(/docs/assets/images/home.jpg) center/cover no-repeat;
}

.storyBanner {
    background: linear-gradient(rgba(0, 0, 0, 0.568), rgba(0, 0, 0, 0.603)), url(/docs/assets/images/story4.jpg) center/cover no-repeat;
}

.menuBanner {
    background: linear-gradient(rgba(0, 0, 0, 0.568), rgba(0, 0, 0, 0.603)), url(/docs/assets/images/Menu3.jpg) center/cover no-repeat;
}

.childernBanner {
    background: linear-gradient(rgba(0, 0, 0, 0.568), rgba(0, 0, 0, 0.603)), url(/docs/assets/images/childern.jpg) center/cover no-repeat;
}

.eveningBanner {
    background: linear-gradient(rgba(0, 0, 0, 0.568), rgba(0, 0, 0, 0.603)), url(/docs/assets/images/evening.jpg) center/cover no-repeat;
}

.lunchBanner {
    background: linear-gradient(rgba(0, 0, 0, 0.568), rgba(0, 0, 0, 0.603)), url(/docs/assets/images/lunch.jpg) center/cover no-repeat;
}

.galleryBanner {
    background: linear-gradient(rgba(0, 0, 0, 0.568), rgba(0, 0, 0, 0.603)), url(/docs/assets/images/Gallery.jpg) center/cover no-repeat;
}

.banner {
    background: linear-gradient(rgba(0, 0, 0, 0.808), rgba(0, 0, 0, 0.808)), url(./assets/images/home.jpg) center/cover no-repeat;
    background-attachment: fixed;
}

.futureBanner {
    background: linear-gradient(rgba(0, 0, 0, 0.603), rgba(0, 0, 0, 0.603)), url(./assets/images/Story2.jpg) center/cover no-repeat;
    background-attachment: fixed;
}

.glass {
    /* From https://css.glass */
    background: rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
}

.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet,
.swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
    width: 16px !important;
    height: 4px !important;
    border-radius: 5px !important;
    margin: 0 6px !important;
}

.swiper-pagination {
    bottom: 2px !important;
}

.swiper-wrapper {
    height: max-content !important;
    width: max-content !important;
    padding-bottom: 64px;
}

.swiper-pagination-bullet-active {
    background: #a1130f !important;
}

.swiper-slide.swiper-slide-active>.slide_active\:border-indigo-600 {
    --tw-border-opacity: 1;
    border-color: rgb(79 70 229 / var(--tw-border-opacity));
}

.swiper-slide.swiper-slide-active>.group .slide_active\:text-gray-800 {
    ---tw-text-opacity: 1;
    color: rgb(31 41 55 / var(--tw-text-opacity));
}



.navUnderLine {
    position: relative;
    padding: 0 2px;
    cursor: pointer;
}

.navUnderLine::before {
    content: '';
    position: absolute;
    bottom: -3px;
    left: 0;
    width: 0%;
    height: 2px;
    background-color: #a21410;
    transition: 200ms all;
}

.navUnderLine:hover::before {
    width: 100%;
}

.navUnderLineActive {
    position: relative;
    padding: 0 2px;
    cursor: pointer;
}

.navUnderLineActive::before {
    content: '';
    position: absolute;
    bottom: -3px;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #a21410;
    transition: 200ms all;
}